# Ignore __pycache__ directories
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore all .pyo files
*.pyo

# Ignore environment directories
env/
venv/

# Ignore other common files and directories
.DS_Store
.idea/
.vscode/
*.log
